.testoH { background-color: #C9E1FA; color: #000000 ; FONT-SIZE: 75%; FONT-FAMILY: Verdana, Arial, Geneva, Helvetica, sans-serif }

.testoD { color: #000000 ; FONT-SIZE: 75%; FONT-FAMILY: Verdana, Arial, Geneva, Helvetica, sans-serif }

.testoDSmall {
     color: #000000 ; FONT-SIZE: 65%; FONT-FAMILY: Verdana, Arial, Geneva, Helvetica, sans-serif
}


.testo { color: #000000; FONT-SIZE: 75%; FONT-FAMILY: Verdana, Arial, Geneva, Helvetica, sans-serif }

.titverdibig { FONT-SIZE: 15px; COLOR: #19559E; FONT-FAMILY: Arial }

.subtitle { FONT-SIZE: 15px; COLOR: #19559E; FONT-FAMILY: Arial }
