/OCAJP8Test/target/
/selenium/Room/.nb-gradle/
/selenium/Room/build/
/selenium/HelloGradle/.nb-gradle/
/selenium/HelloGradle/build/
/Gradle/HelloGradle/.nb-gradle/
/Gradle/HelloGradle/build/
/Gradle/poetry/.nb-gradle/
/Gradle/SeleniumTest/.nb-gradle/
/Gradle/SeleniumTest/build/
/Gradle/Email/.nb-gradle/
/Gradle/SendMail/.nb-gradle/
/Gradle/SendMail/build/
/Java SE 8 New Features/02_Lambdas/target/